body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 clamp (4rem, 12vw, 20rem); 
    color:rgb(255, 255, 255);
    background:  #19181A;
}

  .small-logo {
      position: fixed; /* Change to fixed positioning */
      left: 1rem;
      top: 0.5rem; /* Adjust top position */
      width: 40px; /* Adjust size as needed */
      width: 4vw;
      min-width: 4px;
      height: auto;
    }
  
  
  /* Add these new styles to your existing CSS */
  
  .blog-header {
    background-color: #19181A;
    opacity: 0.9;
    transition: transform 0.7s ease-in-out;
  }
  
  .blog-header.hidden {
    transform: translateY(-100%);
  }
  
  .hero-image {
    margin-top: 2rem; /* Should match the header height */
  }
  
  .hero-image img {
    width: 100%;
    display: block;
  }
    section { 
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    min-height: 150px;
    padding: 100px 20vw;  
    }
    h01{
      font-size: 30px ;
      font-family: 'Times New Roman', Times, serif;
      margin-top: auto;
      margin-bottom: -2em;
    }

    h0 {
      font-size: 2.5rem; /* Adjust as needed */
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      max-width: 85%; /* Adjust for desired width */
      margin: 100px auto; /* Adjust this value to control top/bottom spacing */
      padding: 0 20px; /* Add some horizontal padding */
      line-height: 1.4; /* Adjust for desired line spacing */
      word-break: keep-all;
  }
  
    .h1 { 
      font-size: clamp (2rem, 5vw,8rem) ;
    }

      /* &:nth-of-type(1) {
      border-bottom: 1px solid black;
      }
      &:nth-of-type(3) {
        background:#479761;
        }
      &:nth-of-type(4) {
        background:#3c31dd;
        } */
    


    .blue {
    background: #3c31dd;
    }
    .green {
    background: #479761;
    }
    .pink {
    background: #ad5479;
    min-height: 300px;
    }
    .dark {
    background: #19181A;
    min-height: 300px;
    }

    .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        line-height: 0;
    }
    
    .wave svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 90px;
    }
    
    .wave .shape-fill {
        fill: #AD5479;
    }

    .spacer {
    aspect-ratio: 960/300; 
    width: 100%;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    }
    
    .layer1 {
    background-image: url('./svg/layer1.svg');
    }
    .flip {
    transform: rotate (180deg) ;
    }

    .blob-motion{
        position: absolute;
        transform: translateY(50%);
    }