.small-logo {
    position: fixed; /* Change to fixed positioning */
    left: 1rem;
    top: 0.5rem; /* Adjust top position */
    width: 40px; /* Adjust size as needed */
    height: auto;
    z-index: 1001; /* Ensure it's above the header */
  }
  
  
  /* Add these new styles to your existing CSS */
  
  .blog-header {
    opacity: 0.8;
    transition: transform 0.7s ease-in-out;
  }
  
  .blog-header.hidden {
    transform: translateY(-100%);
  }
  
  .hero-image {
    margin-top: 4rem; /* Should match the header height */
  }
  
  .hero-image img {
    width: 100%;
    display: block;
  }
 
  .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align text to the left */
    margin-left: 6.5cm;
    margin-right: 6.5cm;
    margin-top: 2cm;
    max-width: 800px; /* Limit the width for better readability */
    margin-left: auto;
    margin-right: auto;
    font-family:'Times New Roman', Times, serif; /* You can change this to your preferred font */
    font-size: 23px; /* Adjust the base font size as needed */
    line-height: 1.8; /* Adds space between lines */
    color: #cfcfcf; /* Dark grey color for better contrast */
}

.blog-content h1 {
    font-size: 2em; /* Larger font size for main title */
    margin-bottom: 1em;
    color: #ffffff; /* Black color for headings */
}

.blog-content h2 {
    font-size: 2em; /* Size for subheadings */
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #000;
}

.blog-content p {
    margin-bottom: 3em; /* Space between paragraphs */
}

.blog-content ul, .blog-content ol {
    margin-bottom: 1em;
    padding-left: 2em;
}

.blog-content li {
    margin-bottom: 0.5em;
}

/* Responsive Design */
@media (max-width: 5500px) {
    .small-logo {
        width: 40px; /* Adjust size for smaller screens */
    }

    .blog-content {
        margin-left: 1rem; /* Reduce margin for smaller screens */
        margin-right: 1rem; /* Reduce margin for smaller screens */
        font-size: 18px; /* Adjust base font size for readability on smaller screens */
    }

    .hero-image {
        margin-top: 6rem; /* Increase top margin to ensure it doesn't overlap with the header */
    }

    .blog-content h1 {
        font-size: 1.5em; /* Adjust font size for main title */
    }

    .blog-content h2 {
        font-size: 1.2em; /* Adjust font size for subheadings */
    }

    .blog-content p {
        margin-bottom: 1.5em; /* Adjust space between paragraphs */
    }

    .blog-content ul,
    .blog-content ol {
        padding-left: 1em; /* Adjust padding for lists */
    }

    .hero-image {
        margin-top: 2rem; /* Adjust margin for smaller screens */
    }
}